:root {
    --box-shadow-initial: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    --main-background-color: #EDEDEF;
    --card-border-radius: 5px;
    --animation-interval: 0.5s;
}
html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
}
body {
    width: 100%;
    min-height: 100%;
    margin: 0px;
    background-color: var(--main-background-color);
}

/*Wraps the whole site*/

#wrapper {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 5fr;
    height: 100%;
}

/*Header*/

.main-header {
    height: 70px;
    width: 100%;
    background-color: rgb(52, 58, 64);
    color: white;
    display: grid;
    grid-template-columns: 200px 1fr 20px;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
.menu-items {
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
#site-header {
    margin-left: 20px;
}

/*Side bar with photo and text*/

#info-area {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin: 20px;
    grid-column-start: 1;
    background-color: white;
    height: 100%;
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow-initial);
}

/*List or tile grid of projects*/

#projects-area {
    display: grid;
    height: auto;
    grid-template-columns: 100%;
    margin-top: 20px;
    font-weight: 700;
    font-size: 1.1em;
    width: 95%;
    margin-left: 5px;
}

/*INFO AREA ELEMENTS*/

.photo {
    grid-area: photo;
    grid-row-start: 0;
    margin-top: 20px;
    width: 60%;
    margin: auto;
}
.photo>img {
    object-fit: cover;
    width: 100%;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    margin-top: 50px;
}
#info-text {
    grid-row-start: 2;
    width: 85%;
    margin: auto;
    margin-top: 50px;
}

#name-header {
    font-weight: 700;
}
#title-box {
    text-align: center;
    font-size: 1.2em;
}


/*PROJECT AREA ELEMENTS*/

.theme-group {
    margin: auto;
    display: grid;
    height: auto;
    grid-template-columns: 49% 49%;
    grid-row-gap: 10px;
    grid-column-gap: 2%;
}

/*CARDS*/

.card {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    width: 100%;
    margin-bottom: 4%;
    border-radius: var(--card-border-radius);
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 0.9em;
    background-color: white;
    
        animation-duration: 1s;
    animation-name: fallDown;
    animation-fill-mode: forwards;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.container h4 b {
    font-weight: 600;
}
img {
    border-radius: 5px 5px 0 0;
}
.container {
    padding: 2px 16px;
}

/*LINKS*/

a:link {
    text-decoration: none;
    color: inherit;
}
a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: underline;
}

/*DROPDOWN*/

.dropbtn {
    background-color: inherit;
    font-size: 18px;
    height: 100%;
    border: none;
    color: inherit;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #777;
}

/*ANIMATIONS*/
.fall-down {
    animation-duration: var(--animation-interval);
    animation-name: fallDown;
    animation-fill-mode: forwards;
}
@keyframes fallDown {
    from {
        margin-top: -10px;        
    }
    to {
       margin-top: 0px;
    }
}

/*@MEDIA*/

@media only screen and (max-width: 1000px) {
    /*Switch to single column for projects*/
    .theme-group {
        grid-template-columns: 100%;
        grid-column-gap: 0%;
    }
}
@media (max-width: 770px) {
    /* Switch to single column layout */
    #wrapper {
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        grid-row-gap: 60px;
    }
    #projects-area {
        width: 90%;
        margin: auto;
    }
    #site-header {
        display: none;
    }
    .main-header {
        grid-template-columns: 100%;
    }
    .menu-items {
        justify-content: space-around;
    }
}
